/*Estilos de tu proyecto*/
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body {
	
	background-image: url('../assets/imagenes/casa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    width: 100%;   
    background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
    position: fixed;
    background-color: #0067A3;
    height: 100px;
    padding: 0.4em;
}

.logo{
width: 10%;
position: absolute;

}

.panel{
	width: 20px;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 2px;
	position: relative;
}

.imagen{
	text-align: center;
	padding-top: 20px;
}
.Tablero{
	color: white;
	border:  1px solid white;
	width: 100px;
	padding: 3px;
	border-radius: 5px;
	margin-left: 50px;
	position: absolute;
	margin-top: 20px;
	
}

input{
background: #026AA7;
border-style: none;

}
.search {
	float: left;
    margin-right: 50px;
    border: 1px solid white;
    width: 200px;
    margin-left: 200px;
	background: #026AA7;
	margin-top: 20px;
	opacity: 0.5;
	padding: 6px;
	border-radius: 5px;
	position: absolute;
}
.fa-search{
	float: right;
	font-size: 20px;
	color: white;
}


.fa-plus-square, .fa-info-circle, .fa-bell-o, .fa-user-circle-o {	
	float: right;
	position:relative;
	padding: 15px;	
	color:rgb(212, 192, 192);
}


.dNone {
	display: none;
}
.dBlock {
	display: block;
}
.dInlineBlock {
	display: inline-block;
}


#cajaGrande {
	vertical-align: top;
	padding-top: 6em;
	white-space: nowrap;
	position: absolute;
}
.caja {
	background-color: #E2E4E6;
	border-radius: 8px;
	margin: 0 45px;
    display: inline-block;
    vertical-align: top;
	width: 250px;
	margin-top: 50px;
	
}
.add{
	display: inline-block;
	background-color: rgb(73, 147, 190);
	border-radius: 4px;
    cursor: pointer;
    color: rgba(46, 23, 23, 0.7);
    width: 250px;
    padding: 15px;
	text-align: left;
	font-size: 26px;
	
}
.add:hover{
	background-color: rgb(13, 218, 200);
	color: rgba(225, 225, 225, 0.7);
}
.form {
	background-color: #E2E4E6;
	border-radius: 4px;
	display: inline-block;
	padding: 10px;
	width: 250px;
}
.input {
	width: 100%;
	padding: 10px;
	display: inherit;
	overflow: hidden;
	font-size: 20px;
	
}
.btnGreen {
	background-color: #61BD4F;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 3% 6%;
    margin-top: 3%;
}
.btnGreen:hover {
	background-color: #01DF01;
	color: #fff;
}
.list-header {
	border-radius: 3px 3px 0 0;
	background-color: #E2E4E6;
	font-weight: bold;
	padding: 8px 10px;
	width: 250px;
	overflow-wrap: break-word;
}
.link {
	background-color: #E2E4E6;
	border-radius: 0 0 3px 3px;
    color: #8C8C8C;
    display: block;
    padding: 8px 10px;
    cursor: pointer;
    width: 250px;
}
.link:hover{
	background-color: #D8D8D8;
	color: #A4A4A4;
}
.entrada {
	background-color: #fff;
	border-radius: 5px;
    padding: 6px;
    margin: 5px;
    word-wrap: break-word;
}
.borde {
	border: 2px dashed  #A4A4A4;
}
